<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4">

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Controllers.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>//</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FAQ</servlet-name>
        <servlet-class>Controllers.FaqServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FAQ</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BLOG</servlet-name>
        <servlet-class>Controllers.Blog.BlogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BLOG</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>


    <!--- add demande servlet -->
    <servlet>
        <servlet-name>AddDemande</servlet-name>
        <servlet-class>Controllers.Demandes.AddDemandeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddDemande</servlet-name>
        <url-pattern>/addDemande</url-pattern>
    </servlet-mapping>

    <!--- end add demande servlet -->

    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>Controllers.Blog.AddBlog</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/addBlog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addEvent</servlet-name>
        <servlet-class>Controllers.Event.AddEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addEvent</servlet-name>
        <url-pattern>/addEvent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Login.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>affEvent</servlet-name>
        <servlet-class>Controllers.Event.AffEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>affEvent</servlet-name>
        <url-pattern>/agenda</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Controllers.Contact</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>donnateurCrud</servlet-name>
        <servlet-class>Controllers.Donnateur.DonnateurCrudServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>donnateurCrud</servlet-name>
        <url-pattern>/addDonnateur</url-pattern>
        <url-pattern>/updateDonnateur</url-pattern>
        <url-pattern>/managementDonnateur</url-pattern>
    </servlet-mapping>
    

</web-app>
